@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');

$Very-Dark-Gray: #2b2b2b;
$Dark-Gray: #969696;

@mixin flex-it($direction) {
 display: flex;
 flex-direction: $direction;
 align-items: center;
 justify-content: center;
}

@mixin media-lg {
 @media only screen  and (min-width: 1280px){
  @content;
 }
}